extends layout

block content
    h1 Add New Message

    form(action='/new' method='POST')
        div.form-elements
            label(for='author') Author
            input#author(name='author' type='text' required)
            label(for='message') Message
            textarea#message(name='message' required)
        button.submit-form Submit