extends layout

block content
  h1= title

  div.new-message-container
    a.new-message-btn(href='/new' draggable='false') Add New Message

  div.messages
    each val in messages
      div.message-container
        div.message-author #{val.author}
        div.message-date #{val.date.toDateString()}
        div.message-text #{val.text}
